
.nys-table {
  text-align: center;
}

.nys-loading {
    opacity:0.45;
    -moz-opacity:0.45;
    filter:alpha(opacity=45);
    height:150px;
    width:100px;
    z-index:10;
}

.nys-table {
  width: 100% !important;
}

th.nys-pk {
	background-image: url('../img/key.png');
	background-repeat: no-repeat;
	background-position: 25% 50%;
}

.nys-pk {
  text-align: center;
}

th.nys-fk {
  background-image: url('../img/key_fk.png');
  background-repeat: no-repeat;
  background-position: 25% 50%; 
}

.nys-fk {
  text-align: center;
}

.nys-manage {
	text-align: center;
	background-image: url('../img/edit.png');
	background-repeat: no-repeat;
	background-position: 25% 50%;
}

.nys-empty {
  text-align: center;
  color: tomato;
}

.nys-center {
  text-align: center;
}

.nys-input {

}

.nys-input-text {
  font-weight: bold;
}

.nys-delete {

}

.nys-save {

}

.nys-copy {
  
}

#nys-mask {
  position: absolute;
  z-index: 9000;
  background-color: #000;
  display: none;
  top: 0px;
  left: 0px;
}
  
#nys-boxes .window {
  position: fixed;
  width: 440px;
  display: none;
  z-index: 9999;
  padding: 20px;
}

#nys-boxes #dialog {
  width: 50%; 
  top: 15%;
  left: 25%;
  background-color: #fff;
}